*
{
    margin: 0;
    padding: 0;
}
body{
    background-image:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(background.jpg.jpg);
    background-position: center;
    background-size: cover;
   height: 109vh;
   background-repeat: round;
   width: 100%;
   
}
.card-img-top{
    cursor: pointer;
   
}
 .card-img-top:hover{
    transform: scale(1.05);
    
 }
 .navbar {
    height: 100px;
    width: 100%;
    border: 3px solid;
    z-index: 1000;
 }

 /* p img{
    width: 200px;
    float: left;
    height: 70px;
 } */
 